# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
plugins.json    @MuikaAI/Bot
README.md    @MuikaAI/Bot